// Common Variables
$border-radius: 0.25rem;
$font-weight-bold: 700;

// Light Theme Variables
$light-bg: #ffffff;
$light-text: #000000;
$light-container-bg: #ffffff;

// Dark Theme Variables
$dark-bg: #333333;
$dark-text: #ffffff;
$dark-container-bg: #444444;
